@import url("https://fonts.googleapis.com/css2?family=EBGaramond:wght@400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Garamond', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #f0e47d;
    background: black;
    /*color: var(--tg-theme-text-color);*/
    /*background: var(--tg-theme-bg-color);*/
}

main {
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}

.FirstTextBox {
    line-height: 3;
}
.SecondTextBox {
    line-height: 3;
}
.Middle p, .Middle h1, .Middle h2, .Middle h3, .Middle form {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.CompanyHeader {
    padding-top: 10vh;
    }

.CompanyHeader img {
    height: 6vh;
}
.Middle {
    margin: 10px;
    min-height: 100vh;
    text-align: center;
    line-height: 5;
    /*border: 5px solid #000000;*/
    /*border-radius: 25px;*/
}

button {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 60%;
    color: #f0e47d;
    border-color: #f0e47d;
    background-color: black;
    -webkit-appearance: none;
    -moz-appearance:none;
}
button:hover {
    color: black;
    background-color: #f0e47d;
}

#form {
    display: none;
    text-align: center;
}
input {
    width: 90%;
    outline: none;
    margin: 10px 5%;
    padding: 15px 10px;
    font-size: 14px;
    color: #f0e47d;
    border: 2px solid #f0e47d;
    background-color: black;
    border-radius: 5px;
}
input:focus {
    /*border-color: #db5d5d;*/
    border-color: white;
}
.AboutText {

    padding-left: 5%;
    padding-right: 5%;
    line-height: 2;
}
.PageButton {
    margin-top: 5vh;
}
.bottom-button {

}
.footer {
    clear: both;
    margin: -15vh;
    padding-top: 10%;
    text-align: center;
}