@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

main {
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}

.Middle {
    text-align: center;
    line-height: 5;
    border: 5px solid #000000;
    border-radius: 25px;
}
.Middle::before {
    border-image: linear-gradient(to bottom, #000000 5%, #C0C0C0 100%);

}
.EnterFirstPage {
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
}