@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

main {
    text-align: center;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}

.Middle {
    margin: 10px;
    min-height: 80vh;
    text-align: center;
    line-height: 5;
    border: 5px solid #000000;
    border-radius: 25px;
}

.EnterFirstPage {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50%;
}
.bottom-button {
    padding-top: 25vh;
}